# Version control
.git
.github
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env
.env.*
!env.example

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Frontend files
tawssil_frontend/node_modules/
tawssil_frontend/.dart_tool/
tawssil_frontend/.flutter-plugins
tawssil_frontend/build/
tawssil_frontend/.pub/

# Documentation
docs/
*.md
!README.md

# Docker
Dockerfile*
docker-compose*
.dockerignore

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
